{{ define "main" }}
{{ if strings.Contains .Params.team "core" }}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10 col-xl-10">
    <article>
		<h1 class="text-center">Team</h1>
		<div class="row row-cols-1 row-cols-md-2 g-auto  justify-content-center">
			{{ range .Data.Pages -}}
				{{ if strings.Contains .RelPermalink "core" }}
				{{ partial "team/member.html" .}}
				{{ end }}
			{{ end -}}
		</div>
    </article>
  </div>
</div>
{{ end }}
{{ if strings.Contains .Params.team "advisory" }}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10 col-xl-10">
    <article>
		<h1 class="text-center">Advisory Committee</h1>
		<div class="row row-cols-1 row-cols-md-2 g-auto  justify-content-center">
			{{ range .Data.Pages -}}
				{{ if strings.Contains .RelPermalink "advisory" }}
				{{ partial "team/member.html" .}}
				{{ end }}
			{{ end -}}
		</div>
    </article>
  </div>
</div>
{{ end }}
{{ if strings.Contains .Params.team "github" }}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10 col-xl-10">
    <article>
		<h1 class="text-center">Contributors</h1>
		<div class="row row-cols-1 row-cols-md-2 g-auto  justify-content-center">
			{{ range .Data.Pages -}}
				{{ if strings.Contains .RelPermalink "github" }}
				{{ partial "team/member.html" .}}
				{{ end }}
			{{ end -}}
		</div>
    </article>
  </div>
</div>
{{ end }}
{{ end }}

