<!doctype html>
<html>

<body>
	<div
		style='color:#03124A;font-family:"Verdana", source-sans-pro, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:4px 0;min-height:100%;width:100%'>
		<table align="center" width="100%" style="margin:0 auto;max-width:80%;" role="presentation" cellspacing="0"
			cellpadding="0" border="0">
			<tbody>
				<tr style="width:100%">
					<td>
						<div style="padding:24px 24px 24px 24px;text-align:center">
							<img alt="" src="https://pts-project.org/android-chrome-512x512.png" height="80"
								style="height:80px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%" />
							
						</div>
						<h1 style="text-align:center;margin:0;padding:16px 24px 16px 24px">
							Mobile device forensics &amp; digital investigation
						</h1>
						<div style="text-align:center;margin:0;padding:2px 4px 24px 4px">
							<h1>
								{{.Title}}
							</h1>
							<a href="{{.Permalink}}" style="color:#7122da" target="_blank">
								{{.Permalink}}
							</a>
						</div>
						<div>
							{{ .Content }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>