{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <article>
            <div class="blog-header">
                <h1>{{ .Title }}</h1>
            </div>
            <p class="lead">{{ .Params.lead | safeHTML }}</p>
            {{ .Content }}
            
            <div class="col-md-12 col-lg-12 col-xl-12">
                <h1>List of guides</h1>
                <ul>
                    {{ range .Pages.ByWeight -}}
                    <li>
                        <a class="" href="{{ .RelPermalink }}">{{ .Params.title }}</a>
                    </li>
                    {{ end -}}
                </ul>
            </div>
        </article>
    </div>
</div>
{{ end }}