{{ define "main" }}
{{ $currentSection := .CurrentSection }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
      <div class="text-center"><i>
          There is no cookbook for your use case yet? 
          <a class="" target="_blank" href="https://discord.gg/qGX73GYNdp">Let us know on Discord</a>!
      </i></div>
      {{ with .Content }}<div class="text-center">{{ . }}</div>{{ end }}
        {{range .Site.RegularPages.GroupByParam "group" }}
          {{ $groupname := substr .Key 3 }}
          <h2>{{ $groupname | title }}</h2>
          <div class="card-nav mt-0">
            {{ range .Pages }}
              {{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
                <div class="card my-2">
                  <div class="card-body p-2">
                    <!-- {{.Params.weight}} -->
                    <a class="stretched-link icon-link icon-link-hover" href="{{ .RelPermalink }}">
                      {{ partial "inline-svg" (dict "src" "list-details" "class" "mb-1 small") -}}
                      <span class="ms-0">
                        {{ .Params.title | title }}
                        in {{len .Params.steps}} steps
                      </span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                        stroke-linecap="round" stroke-linejoin="round" class="bi">
                        <path d="M5 12h.5m3 0h1.5m3 0h6" />
                        <path d="M15 16l4 -4" />
                        <path d="M15 8l4 4" />
                      </svg>
                    </a>
                    <div class="ms-4 text-xs font-monospace text-muted fst-italic">
                      {{range .Params.tags}} #{{ . }} {{end}}
                    </div>
                  </div>
                </div>
              {{ end }}
            {{ end }}
          </div>
        {{end}}
    </article>
  </div>
</div>
{{ end }}