<footer class="footer text-muted">
      <div class="row justify-content-center g-0">
        <div class="col-lg-12 text-center text-lg-center">
          <ul class="list-inline">
            {{ range .Site.Menus.footer -}}
              <li class="list-inline-item"><a class="text-muted" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{- end }}
            <li class="list-inline-item"><a class="text-muted" href="https://defensive-lab.agency/">Copyright © 2022-{{ now.Year }} Defensive Lab Agency</a></li>
          </ul>
        </div>
  </footer>