{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img width="80px" class="mb-2" src="android-chrome-512x512.png">
      <h1 class="">{{ .Title }}</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 text-center">
      <img class="img-fluid" src="images/pts_dashboard.png">
    </div>
    <div class="col-lg-6 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <div class="text-center mt-3">
        <p class="meta">Open-source AGPL v3 Licensed. <a href="https://github.com/PiRogueToolSuite/">GitHub</a></p>
        <a href="/docs/prologue/introduction/" class="btn btn-primary btn-lg">Getting started >></a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12">
      <h2>PiRogue</h2>
      <p>
        The PiRogue is an open-source hardware device based on a Raspberry Pi that acts as a network router, 
        analyzing network traffic in real time. It assists analysts in detecting potential compromises of 
        mobile devices and provides additional information for identifying potential threats posed by 
        mobile applications.
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <div class="table-responsive">
        <table class="table mt-2 table-borderless">
          <thead>
            <tr>
              <th></th>
              <th>Android</th>
              <th>iOS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-end">Network traffic capture</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
            <tr>
              <td class="text-end">Network traffic analysis</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
            <tr>
              <td class="text-end">Deep packet inspection</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
            <tr>
              <td class="text-end">Threat detection</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
            <tr>
              <td class="text-end">Stalkerware detection</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
            <tr>
              <td class="text-end">TLS traffic decryption</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-dark">not yet</span></td>
            </tr>
            <tr>
              <td class="text-end">Socket activity tracing</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-dark">not yet</span></td>
            </tr>
            <tr>
              <td class="text-end">AES operations tracing</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-dark">not yet</span></td>
            </tr>
            <tr>
              <td class="text-end">Device backup</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
            <tr>
              <td class="text-end">Device forensic analysis</td>
              <td><span class="badge bg-primary">supported</span></td>
              <td><span class="badge bg-primary">supported</span></td>
            </tr>
          </tbody>
        </table>
        <small>
        <p>
          PiRogue analyzes the network traffic of any digital device connected to its WiFi access point, regardless of its 
          operating system version.
        </p>
      </small>
      </div>
    </div>
    <div class="col-lg-6 mt-4 text-center">
        <img class="img-fluid" style="max-height: 480px;" src="images/render-22.png">
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12">
      <h2>Colander</h2>
      <p>Colander is an incident response and knowledge management platform, delivered as a cloud-agnostic software stack, that organizations can deploy. It takes events (such as network flows, Suricata alerts), artifacts (such as PCAPs, APKs), observables extracted from artifacts or from 3rd-party providers, and turns them into browsable knowledge. Organized in cases, knowledge is then processed to automatically generate reports, detection rules and intelligence feeds.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">    
    <div class="col-lg-6 mt-2">
      <div class="">
        <ul class="text-start">
          <li>Organize knowledge in different cases</li>
          <li>Invite team member to collaborate to cases</li>
          <li>Represent the real world with generic entities</li>
          <li>Graph knowledge using the web graph editor</li>
          <li>Write documentation at anytime</li>
          <li>Import intelligence from VirusTotal or OTX Alien Vault</li>
          <li>Collect and sign artifacts directly from PiRogue</li>
          <li>Analyze decrypted network traffic and payloads</li>
          <li>Decode network payload with CyberChef</li>
          <li>Apply Yara rules directly on the network traffic</li>
          <li>Ensure artifact integrity and authenticity</li>
          <li>Generate comprehensive data transmission report</li>
          <li>Create feeds to export findings in different formats</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 text-center">
        <img class="img-fluid" style="max-height: 640px;" src="images/colander.png">
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12">
      <h2>Testimonials</h2>
      <div class="card">
        <div class="card-body">
            <p class="mt-4 mb-2 fst-italic">
              <span class="h2">"</span> PiRogue and Colander tools from the PiRogue Tool Suite were instrumental for our project in conducting the analysis and identifying privacy violations in the mobile apps. <br>
              As strategic litigators, it is crucial for us to collect solid evidence of privacy violations to support our arguments during the procedure. The two tools provide a comprehensive setup for mobile app investigations and are open source. <br>
              PiRogue helps record network traffic and other evidence such as cryptographic activity, SSL keylog files, socket activity, and even a screencast of the app from the viewpoint of the app user. Thanks to Colander, we were able to analyse the entire network traffic of the apps tested and identify suspicious activities. Both tools are intuitive to use and deliver reliable results. <br>
              As an NGO, we highly value the tool's reliability and accessibility, as it empowers us to investigate mobile apps that would otherwise be very difficult to explore.
            </p>
            <footer class="blockquote-footer mt-1">Ala Krinickyte, Data protection lawyer at noyb</footer>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ define "partners" }}
<section class="section container-fluid m-0">
  <div class="row justify-content-center m-0 mt-5 text-center pb-7 pt-5 g-3 column-gap-3" style="background-color: rgb(255, 255, 255);">
      <p class="h5 mt-1 mb-6 text-black">PiRogue Tool Suite received support from</p>
      <div class="col-lg-3 col-md-3 col-sm-4 text-center">
        <a href="https://www.digitaldefenders.org/community-and-network-fund/" ><img style="max-height: 75px" alt="Logo of Digital Defenders Partnership" src="images/ddp_logo.png"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 text-center">
        <a href="https://www.opentech.fund/" ><img style="max-height: 75px" alt="Logo of Open Technology Fund" src="images/otf-logo.png"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 text-center">
        <a href="https://defensive-lab.agency/" ><img style="max-height: 75px" alt="Logo of Defensive Lab Agency" src="images/dla-logo.png"></a>
      </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}

{{ end }}
