/*==========================================================
    JetBrains Mono
==========================================================*/
@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: 
    local("JetBrainsMono"),
    url('fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}