@import "common/fonts_open_sans";
@import "common/fonts_jetbrains_mono";

$font-family-sans-serif:      "Open Sans Light", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-sans-serif:      "Jost", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "JetBrains Mono Light", menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
// $font-family-monospace:       sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif !default;
$font-family-code:            $font-family-monospace !default;
$font-size-base:              0.98rem; // Assumes the browser default, typically `16px`
$font-size-xl:                $font-size-base * 1.375;
$font-size-lg:                $font-size-base * 1.25;
$font-size-md:                $font-size-base * 1.125;
$font-size-sm:                $font-size-base * 0.875;

$purple:   #7122dc;
$brown:    #aa9c84;

$purple-300:#a88dce;
$primary: $purple;

$link-color:                              $primary;
$link-decoration:                         none;
$link-color-dark: $purple-300;
$button-color-dark: $link-color-dark;
$focus-color-dark: lighten($link-color-dark, 2.5%);
$navbar-dark-hover-color:           $link-color-dark;
$navbar-dark-active-color:          $link-color-dark;
$box-shadow:                  0 .5rem 1rem rgba($purple, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($purple, .075);
$box-shadow-lg:               0 1rem 3rem rgba($purple, .175);
$box-shadow-inset:            inset 0 1px 2px rgba($purple, .075);

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5, 
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5
) !default;

figcaption {
    text-align: center;
}

.purple-text-shadow {
    text-shadow: rgba($purple, .325) 0 .5rem 1rem;
  }

.expressive-code pre > code {
    font-family: $font-family-code !important;
}