@import "common/fonts_lato";
@import "common/fonts_jetbrains_mono";
//@import "common/fonts_open_sans";

$font-family-sans-serif:      "Lato",proxima-nova,"Helvetica Neue",Arial,sans-serif;
$font-family-monospace:       "JetBrains Mono Light", menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif !default;
$font-family-code:            $font-family-monospace !default;
$font-size-root: 16px;
$font-size-base: 1rem;

$font-weight-lighter:         300;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          400;
$font-weight-semibold:        500;
$font-weight-bold:            500;
$font-weight-bolder:          600;

$font-size-xl:                $font-size-base * 1.12;
$font-size-lg:                $font-size-base * 1.12;
$font-size-md:                1rem;
$font-size-sm:                $font-size-base * 0.875;
$font-size-xs:                $font-size-base * 0.75;

$purple:   #7122dc;
$brown:    #aa9c84;
$purple-300:#a88dce;
$primary: $purple;
$secondary: $purple-300;

// Links
$link-color:                $primary;
$link-decoration:           none;
$link-color-dark:           $secondary;

// Cards
$card-title-color: $secondary;

// Link icons
$icon-link-icon-size: inherit;
$icon-link-icon-transform: translate3d(.5em, 0, 0) !default;

// Buttons
$button-color-dark:         $secondary;
$focus-color-dark:          lighten($secondary, 2.5%);

// Navbar
$navbar-dark-hover-color:   $secondary;
$navbar-dark-active-color:  $secondary;

// Shadows
$box-shadow:                0 .5rem 1rem rgba($purple, .15);
$box-shadow-sm:             0 .125rem .25rem rgba($purple, .075);
$box-shadow-lg:             0 1rem 3rem rgba($purple, .175);
$box-shadow-inset:          inset 0 1px 2px rgba($purple, .075);

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5
) !default;

html {
  //letter-spacing: 0.025rem;
}

body {
  color: #404040 !important;
}

img {
  margin-bottom: $spacer;
}

figcaption {
  text-align: center;
}

.purple-text-shadow {
  text-shadow: rgba($purple, .325) 0 .5rem 1rem;
}

.expressive-code pre > code {
  font-family: $font-family-code !important;
}

#socialMenu {
  margin-left: 1.5*$spacer !important;
  opacity: 0.75;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-sm {
  font-size: $font-size-sm;
}

.text-xs {
  font-size: $font-size-xs;
}

.blink {
  animation: blink 0.75s infinite;
}

.custom-terminal {
  line-height: 1.25;
  font-size: 13px;
  color: #ced4da;
  background-color: #212529;
}

.custom-terminal pre {
  font-style: italic;
}

.custom-terminal .prompt{
  color: #b4f397;
}

.custom-terminal .comment{
  font-style: italic;
  color: #ced4da;
}
